templates/n8n-workflow-pack/workflows/social-media-scheduler.json
{
  "name": "Social Media Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "base": {
          "__rl": true,
          "value": "YOUR_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Content Queue",
          "mode": "list"
        },
        "options": {
          "filterByFormula": "AND({Status}='Scheduled', {Publish Date}<=NOW())"
        }
      },
      "id": "get-content",
      "name": "Get Scheduled Content",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "airtableApi": {
          "id": "1",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-items",
      "name": "Split Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "={{ $json.fields.Platforms.includes('Twitter') }}",
              "output": 0
            },
            {
              "value": "={{ $json.fields.Platforms.includes('LinkedIn') }}",
              "output": 1
            },
            {
              "value": "={{ $json.fields.Platforms.includes('Facebook') }}",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "route-platform",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "text": "={{ $json.fields['Twitter Text'] || $json.fields.Content }}",
        "additionalFields": {}
      },
      "id": "post-twitter",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 1,
      "position": [1100, 100],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "2",
          "name": "Twitter OAuth"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.fields['LinkedIn Text'] || $json.fields.Content }}",
        "additionalFields": {
          "visibility": "PUBLIC"
        }
      },
      "id": "post-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "3",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.fields['Facebook Text'] || $json.fields.Content }}",
        "additionalFields": {}
      },
      "id": "post-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [1100, 500],
      "credentials": {
        "facebookGraphApi": {
          "id": "4",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "Content Queue",
          "mode": "list"
        },
        "id": "={{ $('Get Scheduled Content').item.json.id }}",
        "fields": {
          "Status": "Published",
          "Published At": "={{ $now.toISO() }}"
        }
      },
      "id": "update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1350, 300],
      "credentials": {
        "airtableApi": {
          "id": "1",
          "name": "Airtable API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#social-posts",
        "text": "=Posted to social media:\n{{ $('Get Scheduled Content').item.json.fields.Content.substring(0, 100) }}...\nPlatforms: {{ $('Get Scheduled Content').item.json.fields.Platforms.join(', ') }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1550, 300],
      "credentials": {
        "slackApi": {
          "id": "5",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [{ "node": "Get Scheduled Content", "type": "main", "index": 0 }]
      ]
    },
    "Get Scheduled Content": {
      "main": [
        [{ "node": "Split Items", "type": "main", "index": 0 }]
      ]
    },
    "Split Items": {
      "main": [
        [{ "node": "Route by Platform", "type": "main", "index": 0 }]
      ]
    },
    "Route by Platform": {
      "main": [
        [{ "node": "Post to Twitter", "type": "main", "index": 0 }],
        [{ "node": "Post to LinkedIn", "type": "main", "index": 0 }],
        [{ "node": "Post to Facebook", "type": "main", "index": 0 }],
        [{ "node": "Update Status", "type": "main", "index": 0 }]
      ]
    },
    "Post to Twitter": {
      "main": [
        [{ "node": "Update Status", "type": "main", "index": 0 }]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [{ "node": "Update Status", "type": "main", "index": 0 }]
      ]
    },
    "Post to Facebook": {
      "main": [
        [{ "node": "Update Status", "type": "main", "index": 0 }]
      ]
    },
    "Update Status": {
      "main": [
        [{ "node": "Notify Slack", "type": "main", "index": 0 }]
      ]
    },
    "Notify Slack": {
      "main": [
        [{ "node": "Split Items", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["social-media", "scheduler", "airtable", "twitter", "linkedin"]
}
